/* Light mode */
body.light-mode {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
   
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #ecf0f3;
}

body.light-mode .container {
        box-shadow: 13px 13px 20px #cbced1,
                  -13px -13px 20px #ffffff; 
}

body.light-mode .display #screen {
    background: #ecf0f3;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}

/* Dark mode */
body.dark-mode {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    background: #1e1e1e;
}

body.dark-mode .container {
    box-shadow: 13px 13px 20px #0d0d0d,
                -13px -13px 20px #383838;
    background: #2e2e2e;
}

body.dark-mode .display #screen {
    background: #3a3a3a;
    box-shadow: inset 8px 8px 8px #1b1b1b,
                inset -8px -8px 8px #4a4a4a;
}

/* Shared styles */
.container {
    margin-left: 1.8em;
    padding: 20px;
    border-radius: 8px;
}

.display #screen {
    margin-bottom: .5em;
    width: auto;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    border-radius: 6px;
    color: #000;
}

body.dark-mode .display #screen {
    color: #ffffff;
}

.row button {
    width: 60px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000050,
               -5px -5px 8px #383838;
    background: #4a4a4a;
    color: #ffffff;
}

body.light-mode .row button {
    background: #ecf0f3;
    color: #000;
    box-shadow: 5px 5px 8px #00000020,
    -5px -5px 8px #ffff;
}

/* Hover states */
.row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
                inset -5px -5px 8px #4a4a4a;
    background: #5a5a5a;
}

body.light-mode .row button:hover {
    box-shadow:  inset 5px 5px 8px rgba(16, 16, 16, .1),
    inset -5px -5px 8px #fff;
    background: #fff;
}

#eval {
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff,
    inset -5px -5px 8px #00ace6;
}

#eval:hover {
    /* background: #1c86ee; */
    box-shadow: inset 5px 5px 8px #00ace6,
    inset -5px -5px 8px #00ace6;
}

#ac {
    background: #33cc33;
    color: #fff;
}

#ac:hover {
    /* background: #28a428; */
    box-shadow: inset 5px 5px 8px #2eb82e,
                inset -5px -5px 8px #33cc33;
}

#ce {
    background: #ff3399;
    color: #fff;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px #d11b60,
                inset -5px -5px 8px #ff1493;
    background: #d11b60;
    
}

h2 {
    font-size: 40px;
    position: relative;
    bottom: 1em;
    margin-left: 1.2em;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #d1d9e6,
                 1px 1px 2px #d1d9e6,
                 3px 3px 3px #d1d9e6,
                 4px 4px 4px #d1d9e6,
                 5px 5px 5px #d1d9e6, 
                 6px 6px 6px #d1d9e6,
                 7px 7px 7px #d1d9e6,
                 8px 8px 8px #d1d9e6;
    letter-spacing: 6px;
}

body.dark-mode h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #0d0d0d,
                 1px 1px 2px #0d0d0d,
                 3px 3px 3px #0d0d0d,
                 4px 4px 4px #0d0d0d,
                 5px 5px 5px #0d0d0d, 
                 6px 6px 6px #0d0d0d,
                 7px 7px 7px #0d0d0d,
                 8px 8px 8px #0d0d0d;
}

h2 span {
    color: #33cc33;
    font-size: 45px;
    text-shadow: 1px 1px 1px #d1d9e6,
                 1px 1px 2px #d1d9e6,
                 3px 3px 3px #d1d9e6,
                 4px 4px 4px #d1d9e6,
                 5px 5px 5px #d1d9e6,
                 6px 6px 6px #d1d9e6;
}

body.dark-mode h2 span {
    color: #32cd32;
    font-size: 45px;
    text-shadow: 1px 1px 1px #0d0d0d,
                 1px 1px 2px #0d0d0d,
                 3px 3px 3px #0d0d0d,
                 4px 4px 4px #0d0d0d,
                 5px 5px 5px #0d0d0d, 
                 6px 6px 6px #0d0d0d;    
}

h2 .fa {
    position: absolute;
    top: 1.5em;
    color: #33ccff;
}

body.dark-mode h2 .fa {
    position: absolute; 
    top: 1.5em;
    color: #1e90ff;
}

/* Toggle button */
.theme-toggle {
    position: absolute;
    top: 20px; 
    right: 20px;
    margin: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #ecf0f3;
    box-shadow: 5px 5px 15px #cbced1,
                -5px -5px 15px #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.toggle-button:hover {
    background: #d9e0e7;
}

body.dark-mode .toggle-button {
    background: #4a4a4a;
    color: #ffffff;
    box-shadow: 5px 5px 15px #00000050,
                -5px -5px 15px #383838;
}

body.dark-mode .toggle-button:hover {
    background: #5a5a5a;
}
